.partner {
    background-color: rgba($color__blue, 0.15);
    padding: 60px 0;

    .section-title {
        margin-bottom: 30px;
        .title-button {
            display: inline-block;
            background-color: rgba($color__gray, 0.2);
            padding: 5px 30px;
            font-weight: 500;
            font-size: 20px;
            margin-bottom: 10px;
        }
        h3 {
            font-weight: 400;
            font-size: 24px;
        }
    }
}